<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet"
          href="https://rescdn.dokidokilive.com/festatic/fe/doki/mobile/css/live_share_20170905115739.css"/>

    <script charset="utf-8" src="https://rescdn.dokidokilive.com/festatic/rem640s.js" type="text/javascript"></script>
</head>
<body>
<div class="cover" id="cover"></div>
<iframe id="andorid" style="display: none"></iframe>
<!--顶部直播-->
<div class="top_show"></div>
<!--直播list-->
<div class="shows_list"></div>

<div class="nav" id="sharenav">
    <div class="nbg"></div>
    <div class="nmain">
        <h1></h1>
        <div class="doki"></div>

        <a href="https://api.dokidokilive.com/webdoki/mobile/track/?source=1&action=1">APP ダウンロー</a>

    </div>
</div>
</body>


<script charset="utf-8" data-main="mobile/page/live_share"
        src="https://rescdn.dokidokilive.com/festatic/common-zp-min.js" type="text/javascript"></script>
<script charset="utf-8" src="https://rescdn.dokidokilive.com/festatic/fe/doki/mobile/js/live_share_20170905115739.js"
        type="text/javascript"></script>


</html>